.display-main-container{
    margin-top: 20px;
    height: 380px;
    
}
.display-all{
    justify-content: center;
    display: flex;
}
.display-items{
    width: 1000px;
    border: 1px solid #ece6e6;
    display: flex;
    flex-direction: row;
}
.display-item-image img{
    max-width: 500px;
}

.display-item-details{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.details-offer{
    text-decoration: line-through;  

}
.details-items{
    float: left;
    text-align: left;
}
.display-item-offer{
    color: #a0a1a1;
}
.display-button{
    margin-top: 18px;

}
.break{
    font-size: 12px;
    color: #726f6f;
}
.break-content{
    text-decoration: line-through;
}
.details-button{
    display: flex;
    /* justify-content: space-around; */
    /* justify-content: center;
    align-items: center; */
    margin-top: 8px;
}
.buy-now{
    border-radius: 50px;
    color: white;
    background-image:linear-gradient(95.04deg,#53917e .82%,#306152 97.35%);
    border: 0px solid white;
    width: 80px;
    padding: 5px 10px;
    
}
.add-to-cart{
    border-radius: 50px;
    color: white;
    background-image:linear-gradient(95.04deg,#53917e .82%,#306152 97.35%);
    border: 0px solid white;
    margin-left: 8px;
    padding: 5px 10px
}
.add-to-cart:hover{
    background:#306152 ;
}
.buy-now:hover{
    background:#306152 ;

}
