
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.profile-image-pro{
    width: 400px;
    border: 1px solid black;

}
.profile-image-pro img{
    height: 300px;
    width: 398px;

}
.prof-title{
    color: grey;
  font-size: 18px;
}
.prof-button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;

}
.profile-icons-prof a{
    text-decoration: none;
    font-size: 22px;
    color: black;
}
.prof-button,a:hover {
    opacity: 0.7;
} 
.back a{
   text-decoration: none;
   margin-left: 50px;
   font-size: 18px;
   
}