.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.foot-s{
    color: #53917e;
    animation: animateS 2s ease-in-out infinite;
}
@keyframes animateS{
    0%,
    50% {
      opacity: 0;
      transform: translateY(-10px);
      color: #53917e;
    }
  
    100% {
      opacity: 4;
      transform: translateY(0);
      color: #eb9c5c;
    }
}
.footer-logo p{
    color: #383838;
    font-size: 46px;
    font-weight: 700;
    font-family: 'Covered By Your Grace';
}
.footer-links{
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size:'20px'
}
.footer-links li{
    cursor: pointer;
}
.footer-social-icon{
    display: flex;
    gap: 20px;
}
.footer-icons-container{
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}
.footer-copyright hr{
    width: 80px;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #7c7c7c;

}